<div class="home-container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameLabel="Exclusive"
    gamePrice="2,99"
    gameType="X-Box"
  />
  <app-card
    gameCover="assets/bt-4.jpg"
    gameLabel="Promo"
    gamePrice="5,99"
    gameType="PS 1"
  />
  <app-card
    gameCover="assets/bt-5.jpg"
    gameLabel="10% OFF"
    gamePrice="6"
    gameType="PolyStation"
  />
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameLabel="10% OFF"
    gamePrice="6"
    gameType="PolyStation"
  />
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameLabel="10% OFF"
    gamePrice="6"
    gameType="PolyStation"
  />
</div>
